.container {
	display: inline-flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 4px;
	border-radius: 5px;
}

.target {
	border: 1px solid black;
	padding: 4;
	border-radius: 5;
}