/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.hero {
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 800;
  margin: var(--space-8x) 24px var(--space-2x);
}

.description {
  font-size: var(--text-md);
  line-height: 1.4;
  color: var(--secondary-color);
  margin-top: 0;
  margin-left: 24px;
}

@media (min-width: 768px) {
  .hero {
    font-size: 3rem;
    margin: var(--space-16x) var(--space-8x) var(--space-4x);
  }

  .description {
    margin-left: var(--space-8x);
  }
}
