/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.nav-overlay {
  position: fixed;
  z-index: 100;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  font-size: var(--space-8x);
  letter-spacing: -0.05em;
  font-weight: 800;
  color: #fff;
  margin-bottom: var(--space-4x);
  line-height: 1.5;
  width: fit-content;
}

.nav-item:focus {
  outline: 1px dotted #fff;
}

.nav-active {
  color: #fff;
  background: linear-gradient(90deg, var(--brand), var(--brand)) left bottom transparent
    no-repeat;
  background-size: 100% 2px;
}

.button {
  margin: 0;
  margin-right: var(--space-4x);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  color: #fff;
  display: block;
}

@media (min-width: 1032px) {
  .button {
    display: none;
  }
}
