/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.schedule {
  width: 100%;
  background: var(--sidebar);
  padding: var(--space-8x) var(--space-4x) var(--space-16x);
  color: var(--secondary-color);
  font-size: 14px;
  min-height: 1px;
  height: 40vh;
  max-height: calc(var(--100vh) - var(--header-height) - 400px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  --talk-card-width: 100%;
}

.schedule::-webkit-scrollbar {
  display: none;
}

.header {
  font-size: 24px;
  color: #fff;
  line-height: 1.15;
  letter-spacing: -0.05em;
  font-weight: 800;
}

.talks {
  margin-top: var(--space-4x);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.talks::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1032px) {
  .schedule {
    height: unset;
    min-height: 340px;
    max-width: 303px;
    max-height: calc(var(--100vh) - var(--header-height));
    --talk-card-width: unset;
  }
}
