/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.container {
  appearance: none;
  color: var(--secondary-color);
  display: inline-flex;
  text-transform: uppercase;
  user-select: none;
  font-weight: 100;
  position: relative;
  white-space: nowrap;
  line-height: 0;
  height: 56px;
  width: 100%;
  min-width: 160px;
  outline: none;
  overflow: hidden;
  border-radius: var(--space-2x);
  background-color: var(--sidebar);
}

.select {
  -webkit-rtl-ordering: logical;
  appearance: none;
  border: none;
  cursor: default;
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  word-spacing: normal;
  writing-mode: horizontal-tb !important;
  padding: var(--space-4x) var(--space-8x) var(--space-4x) var(--space-4x);
  transition: border-color 0.2s ease, background-color 0.2s ease;
  border: 1px solid var(--accents-7);
  border-radius: var(--space-2x);
  font-weight: 700;
  background-color: var(--sidebar);
}

.select:focus {
  outline: none;
}

.select:invalid {
  color: var(--secondary-color);
}

.select option {
  background-color: black;
  color: #fff;
}

.arrow {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0px;
  pointer-events: none;
  display: flex;
  align-items: center;
  transition: border 0.2s ease 0s;
}

.arrow > svg {
  color: #fff;
}
