/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.grid {
  margin: 50px auto;
  padding: 0 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 24px;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .grid {
    padding: 0 var(--space-8x);
  }
}

.grid::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: var(--space-2x);
  background: #111111;
  display: flex;
  flex-direction: column;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(to right, #333333, #333333);
  padding: 1px;
  cursor: pointer;
}

.card:hover,
.card:focus {
  outline: none;
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(to right, var(--brand), var(--brand));
}

.cardBody {
  padding: var(--space-4x);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@media (max-width: 471px) {
  .imageWrapper > div {
    width: 100% !important;
  }
}

.name {
  font-weight: bold;
  color: #f1f1f1;
  font-size: 20px;
  margin: 0;
  line-height: 1.4;
}

.company {
  color: #f1f1f1;
}

.title {
  margin: 0;
}
