/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.video {
  margin: 24px 0;
  height: 100%;
  max-height: 300px;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: block;
  padding: 24px;
  min-width: initial;
}

@media (min-width: 960px) {
  .video {
    height: 100%;
    margin: 0 var(--space-4x) 0 0;
    max-height: 800px;
  }

  .layout {
    flex-direction: row-reverse;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
  }
}

.backlink {
  color: var(--secondary-color);
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: var(--space-16x);
}

@media (min-width: 500px) {
  .container {
    padding: var(--space-8x);
  }

  .backlink {
    padding: 0 var(--space-8x);
  }
}

.backlink > svg {
  margin-right: var(--space-2x);
}

.backlink:hover {
  color: #fff;
}

.name-and-logo {
  display: block;
}

.sponsor-details {
  padding: var(--space-4x) 0 24px 0;
  display: flex;
  flex-direction: column;
  color: var(--accents-2);
  border-bottom: 1px solid var(--accents-7);
}

.image::before {
  content: "";
  padding-top: 50%;
  float: left;
}

.image {
  overflow: hidden;
  width: 100%;
  border-radius: 50%;
  width: var(--space-16x);
  height: var(--space-16x);
  min-width: var(--space-16x);
  min-height: var(--space-16x);
  border: 1px solid var(--accents-7);
}

.name {
  font-weight: 800;
  color: #fff;
  font-size: 30px;
  margin: 0;
  line-height: 1.4;
  letter-spacing: -0.05em;
  margin: var(--space-4x) 0 0 0;
}

.button {
  border-radius: var(--space-2x);
  border: 1px solid #fff;
  color: #000;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  font-weight: 500;
  outline: none;
  transition: background-color 0.2s ease;
  padding: 0 var(--space-4x);
  height: 55px;
  width: 100%;
  max-width: 100%;
  margin-right: var(--space-4x);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  background: black;
  color: #fff;
}

.button > svg {
  margin-left: var(--space-2x);
  min-height: var(--space-4x);
  min-width: var(--space-4x);
}

.button-resource {
  background: #111111;
  color: #fff;
  border: 1px solid var(--accents-7);
  max-width: 100%;
  margin-bottom: var(--space-4x);
}

@media (min-width: 500px) {
  .button-resource {
    max-width: 350px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-link {
  background: #000;
  color: #fff;
  border: none;
}

.description {
  color: var(--secondary-color);
}

.resources {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 800;
  color: #fff;
  font-size: 24px;
  margin: var(--space-4x) 0;
  line-height: 1.4;
  letter-spacing: -0.05em;
}

@media (min-width: 500px) {
  .sponsor-details {
    flex-direction: row;
    padding: var(--space-4x) 0 var(--space-8x) 0;
  }

  .heading {
    margin: var(--space-8x) 0;
  }

  .name-and-logo {
    display: flex;
    flex-direction: row;
  }

  .name {
    font-size: 48px;
    margin: 0 0 0 var(--space-4x);
  }

  .image {
    margin: 0 24px 0 0;
  }
}
