/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.talk {
  margin-bottom: 24px;
}

.time {
  color: var(--secondary-color);
  margin: 0 0 var(--space-2x);
}

.card {
  color: inherit;
  display: block;
  border-radius: var(--space-2x);
  min-width: var(--talk-card-width, 270px);
  max-width: var(--talk-card-width, 270px);
  padding: 1px;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(to right, #333333, #333333);
}
.card:hover {
  background-image: linear-gradient(#111111, #111111), linear-gradient(to right, #aaa, #aaa);
}

.is-live {
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(to right, var(--brand), var(--brand));
}

.card-body {
  padding: var(--space-4x);
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: #e5e5e5;
  margin: 0;
  line-height: 1.4;
  width: 100%;
}

.speaker {
  display: flex;
  align-items: center;
  margin-top: var(--space-2x);
}

.name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: var(--secondary-color);
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.avatar-wrapper {
  margin-right: var(--space-2x);
}

.avatar-group {
  display: flex;
}

.avatar-wrapper:nth-child(n + 2) {
  margin-left: -15px;
}

.link:hover .card:not(.is-live) {
  background-image: linear-gradient(#111111, #111111), linear-gradient(to right, #555, #555);
}
