/**
 * Copyright 2021 Watheia Labs, LLC..
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.appear {
  opacity: 0;
  animation: appear 0.8s cubic-bezier(0.1, 0, 0.175, 1) forwards;
}

.appear-first {
  animation-delay: 0.4s;
}

.appear-second {
  animation-delay: 0.8s;
}

.appear-third {
  animation-delay: 1.2s;
}

.appear-fourth {
  animation-delay: 1.6s;
}

.appear-fifth {
  animation-delay: 2s;
}

.appear-sixth {
  animation-delay: 2.4s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .hide-on-desktop {
    display: none;
  }
}

.show-on-mobile {
  display: block;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .show-on-mobile {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }
}

.hide-on-tablet {
  display: block;
}

.show-on-tablet {
  display: none;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .show-on-tablet {
    display: block;
  }

  .hide-on-tablet {
    display: none;
  }
}
